@model List<Order>
@inject UserManager<ApplicationUser> UserManager;

@{ 
    ViewData["Title"] = "All orders";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>List of all your orders</h4>
        </p>

        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Order ID</th>
                    <th>Items</th>
                    <th>Total</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>User</th>
                    }
                </tr>
            </thead>
            <tbody class="table-striped">
                @foreach (var order in Model)
                {
                <tr>
                    <td class="align-middle">@order.Id</td>
                    <td class="align-middle">
                        <ul style="list-style-type:none">
                                @if(order.OrderItems.Count == 0)
                                {
                                    <li>
                                        <div class="alert alert-danger" role="alert">
                                            <span>This article was deleted !</span> 
                                        </div>
                                    </li>
                                }
                                @foreach (var item in order.OrderItems)
                            {
                                <li>
                                    <div class="alert alert-info" role="alert">
                                        <span class="badge bg-success">@item.Amount</span> [@item.Price.ToString("c")] - @item.Movie.Name
                                    </div>
                                </li>
                            }
                        </ul>
                    </td>
                    <td class="align-middle">
                        @order.OrderItems.Select(m => m.Movie.Price * m.Amount).Sum().ToString("c")
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                            if (order.User.Email == @UserManager.GetUserName(User))
                            {
                                <td class="align-middle"> @order.User.FullName (Me) </td>
                            }
                            else{
                                <td class="align-middle"> @order.User.FullName</td>
                            }
                    }
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>